@{
    ViewBag.Title = "About Us";
}



<!-- Page title --->
<div id="page-title" class="text-grey background-overlay background-img-dark">
    <div class="text-center">
        <div class="container z-index-2 position-relative">
            <h1 class="font-weight-700 text-uppercase">About Us</h1>
            <div class="row justify-content-md-center">
                <div class="text-grey-2">Plan your travel with Ticket Planet,Flight, Movies 
                    and Events online seamlessly. With over 600 daily flights and 64 destinations worldwide, you can now explore our extensive network of domestic flights and Buses at best fares. Enjoy special offers on flight tickets only when you book on our website and mobile app.</div>
            </div>
        </div>
        @*<ol class="breadcrumb z-index-2 position-relative no-background padding-30px margin-0px border-top-1 border-grey-4">
            <li><a href="@Url.Action("Index", "Home")" class="text-white">Home</a></li>

            <li class="active text-primary" >About us</li>
        </ol>*@
    </div>

</div>
<!-- Page title --->
<!-- About Text & Image -->
<hr />
<br/>

<section class="padding-top-100px">
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col-lg-12">
                <h3 class="margin-bottom-20px">Ticket Planet</h3>
                <p class="text-grey-2 margin-bottom-30px">
                    TicketPlanet.ng is a member of the HomeLand Group and is the most technologically driven Ticket Platform Company in Nigeria.

                    Headquartered in Ikeja,Lagos TicketPlanet.ng has earned the reputation of service excellence since incorporation in 2010. Over the years, we have metamorphosed from what we were to what we are occupying the position of a trail blazer in our industry.

                    With a Motive of unifying Ticket Platforms in Nigeria, ranging from Bus, Flight, Movies and Event Tickets. We have proven to have provided efficient and real time ticketting in Nigeria.
                    Our core focus is providing amazing Ticketting experience for commuters and users end to end.

                    TicketPlanet.ng Covers over 10 Transport Company in  Nigeria cutting across five of the six geo political zones of the country.


                </p>

                <a href="@Url.Action("Contact","Home")" class="btn btn-warning">Contact Us</a>
                <p></p>
            </div>
        </div>

    </div>
</section>

<br/><hr />

<section class=" background-light-grey">
    <div class="container">
        <div class="services-out">
            <div class="row">

                @*<div class="col-lg-3 col-md-6">
                    <h3>
                        <i class="fa fa-cab icon-round"></i>
                        <span class="text-medium text-uppercase">Booking of Bus</span>
                    </h3>
                    <i class="d-block text-up-small text-grey-2 margin-bottom-15px">Harness the power of Ticket Planet Real time Bus booking with our associated major transport companies in the country</i>
                   
                </div>*@


                <div class="col-lg-4 col-md-6">
                    <h3>
                        <i class="fa fa-plane icon-round"></i>
                        <span class="text-medium text-uppercase">Booking flight</span>
                    </h3>
                    <i class="d-block text-up-small text-grey-2 margin-bottom-15px">Harness the power of Ticket Planet Real time Flight booking with our associated major Airline companies in the country</i>
                    @*<a href="#" class="btn background-main-color text-white padding-lr-10px text-small text-uppercase">Read more</a>*@
                </div>



                <div class="col-lg-4 col-md-6">
                    <h3>
                        <i class="fa fa-umbrella icon-round"></i>
                        <span class="text-medium text-uppercase">Event Booking</span>
                    </h3>
                    <i class="d-block text-up-small text-grey-2 margin-bottom-15px">Harness the power of Ticket Planet Real time Event Bookings, Take part of the Largest shows in the country</i>
                    @*<a href="#" class="btn background-main-color text-white padding-lr-10px text-small text-uppercase">Read more</a>*@
                </div>


                <div class="col-lg-4 col-md-6">
                    <h3>
                        <i class="fa fa-umbrella icon-round"></i>
                        <span class="text-medium text-uppercase">Movies Booking</span>
                    </h3>
                    <i class="d-block text-up-small text-grey-2 margin-bottom-15px">TIcket Planet Provides the best platform for your Movies at your nearest cinema's</i>
                    @*<a href="#" class="btn background-main-color text-white padding-lr-10px text-small text-uppercase">Read more</a>*@
                </div>

            </div>
        </div>
    </div>
</section>


<br/>


<section class="padding-tb-100px background-grey-1" style="margin-bottom:15px;">
    <div class="container">
        <div class="section-title">
            <h1 class="title"><span>Ticket Planet </span> Recommendations</h1>

        </div>
        <ul class="travelers-say-3 margin-0px padding-0px list-unstyled" data-slider-id="1">

            <li class="padding-30px background-white border border-grey-1 margin-right-30px">
                <div class="header-say">

                    <h5 class="text-medium text-dark text-uppercase margin-bottom-0px margin-top-8px">Emmanuel Agozirim</h5>
                    <i class="text-extra-small">Product Manager<span class="text-main-color"> Lagos</span></i>
                    <div class="clearfix"></div>
                </div>
                <i class="d-block margin-tb-20px text-medium text-grey-4">Looking forward to this Platform launching with the view of unifying our Transport Companies in a bid for smooth and efficient Bus Booking </i>
            </li>


            <li class="padding-30px background-white border border-grey-1 margin-right-30px">
                <div class="header-say">

                    <h5 class="text-medium text-dark text-uppercase margin-bottom-0px margin-top-8px">Lawal opeyemi</h5>
                    <i class="text-extra-small">Software Engineer <span class="text-main-color">IETECH</span></i>
                    <div class="clearfix"></div>
                </div>
                <i class="d-block margin-tb-20px text-medium text-grey-4">Ticket Planet has come in at the right time to change our Movies and Event Booking Needs</i>
            </li>


            <li class="padding-30px background-white border border-grey-1 margin-right-30px">
                <div class="header-say">

                    <h5 class="text-medium text-dark text-uppercase margin-bottom-0px margin-top-8px">Alexa</h5>
                    <i class="text-extra-small"> <span class="text-main-color">United Kingdom</span></i>
                    <div class="clearfix"></div>
                </div>
                <i class="d-block margin-tb-20px text-medium text-grey-4">The name alone sounds facinating, can't wait!!!! </i>
            </li>

            <li class="padding-30px background-white border border-grey-1 margin-right-30px">
                <div class="header-say">

                    <h5 class="text-medium text-dark text-uppercase margin-bottom-0px margin-top-8px">Emeka Esenwa</h5>
                    <i class="text-extra-small"> <span class="text-main-color">Lagos, Nigeria</span></i>
                    <div class="clearfix"></div>
                </div>
                <i class="d-block margin-tb-20px text-medium text-grey-4">This is an evidence of a master class of brillant minds in a bid to solve a critical issue in Nigeria </i>
            </li>




        </ul>
    </div>
</section>






