<script src="~/js/jquery_min.js"></script>
<div class="prs_title_main_sec_wrapper">
    <div class="prs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="prs_title_heading_wrapper">
                    <h2>contact us</h2>
                    @*<ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>&nbsp;&nbsp; &gt;&nbsp;&nbsp; contact</li>
                    </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="prs_contact_form_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="prs_contact_left_wrapper">
                    <h2>Contact us</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="prs_contact_input_wrapper">
                            <input type="text" placeholder="Name" id="name">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="prs_contact_input_wrapper">
                            <input type="email" placeholder="Email" id="email">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="prs_contact_input_wrapper">
                            <textarea rows="7" placeholder="Comment" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="prs_contact_input_wrapper prs_contact_input_wrapper2">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" class="btnSubmitComment">Submit</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="prs_contact_right_section_wrapper">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/Ticketplanetng-186216985505832/?ref=br_rs"><i class="fa fa-facebook"></i> &nbsp;&nbsp;&nbsp;facebook.com/ticketplanet</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/ticketplanet_ng"><i class="fa fa-twitter"></i> &nbsp;&nbsp;&nbsp;twitter.com/ticketplanet</a>
                        </li>

                        <li>
                            <a href="https://www.instagram.com/ticketplanet.ng"><i class="fa fa-instagram"></i> &nbsp;&nbsp;&nbsp;instagram.com/presenter</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-location-arrow"></i>&nbsp;&nbsp;&nbsp;10 Sule Abuka St, Opebi 100281, Ikeja</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;0907 011 1115</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    //$(document).ready(function () {

    //    $('.bntSubmitComment').click(function () {
    //        console.log("comment submit");
    //    });
    //});

    
</script>

@*<script src="~/js/ticketplanetjs/contactCall.js"></script>*@