
@{
    ViewBag.Title = "Privacy";
}

<div style="margin-bottom:100px;margin-top:150px">
    <div class="container">
        <h2 class="text-center"><b>TICKETPLANET PRIVACY POLICY</b></h2>
        <br/><br/>

        <p>
            Ticketplanet is required to comply with applicable privacy and security laws and maintain safeguards to protect the security of your personal information. Additionally, the information you provide to Third-Parties during the use of the Services is legally confidential, except for certain legal exceptions described in any Privacy Policy. We devote considerable effort toward ensuring that your personal information is secure.
            Information regarding our use of personal information is provided in our Privacy Policy.
        </p>
        <br/>
        <p>
            As part of providing you the Services, we may need to provide you with certain communications, such as notifications, confirmations and administrative messages. These communications are considered part of the Services and your Account.
        </p>
        <br/>
        <p>
            While secure electronic messaging is always preferred to insecure email, under certain circumstances, insecure email communication containing personal information may take place between you and Ticketplanet. Ticketplanet cannot ensure the security or confidentiality of messages sent by email. Your personal information are stored on secure, encrypted servers maintained either Ticketplanet, its affiliates or partners.
        </p>
    </div>
</div>
