<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="TicketPlanetEntities" connectionString="metadata=res://*/Entity.TicketPlanetEnt.csdl|res://*/Entity.TicketPlanetEnt.ssdl|res://*/Entity.TicketPlanetEnt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-78RLS1EH;initial catalog=TicketPlanet;user id=sa;password=password1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="data source=LAPTOP-78RLS1EH;initial catalog=TicketPlanet;user id=sa;password=password1;" providerName="System.Data.SqlClient" />-->
    
    <!--<add name="TicketPlanetEntities" connectionString="metadata=res://*/Entity.TicketPlanetEnt.csdl|res://*/Entity.TicketPlanetEnt.ssdl|res://*/Entity.TicketPlanetEnt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5DEKBI2;initial catalog=TicketPlanet;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="data source=DESKTOP-5DEKBI2;initial catalog=TicketPlanet;Integrated Security=true;" providerName="System.Data.SqlClient" />-->
    
    <!--<add name="TicketPlanetEntities" connectionString="metadata=res://*/Entity.TicketPlanetEnt.csdl|res://*/Entity.TicketPlanetEnt.ssdl|res://*/Entity.TicketPlanetEnt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5044.site4now.net;initial catalog=DB_A3450E_ticketplanettest;user id=DB_A3450E_ticketplanettest_admin;password=password1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="data source=sql5044.site4now.net;initial catalog=DB_A3450E_ticketplanettest;user id=DB_A3450E_ticketplanettest_admin;password=password1;" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>